{% extends 'base.html' %}
<!-- {% load crispy_forms_tags %} -->

{% block title %} Tizimga kirish {% endblock title %}
{% block content %}
    <div class="login_page">
        <h2 class="title_page">Akkauntga kirish</h2>
        <hr class="horizontal_rule">
        <form method="post">{% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-secondary btn_login">Yuborish</button>
            <a href="{% url 'password_reset' %}" class="btn btn-primary">Parolni tiklash</a>
        </form>
    </div>
{% endblock content %}