{% extends 'base.html' %}

{% block title %}Patolni tahrirlash{% endblock title %}

{% block content %}
    <div class="password_reset_form">
        <h2 class="title_page">Parolni tahrirlash</h2>
        <hr class="hozizontal_rule">
        <p>
            Agarda sizni parolingiz esingizdan chiqqan bo'lsa pastdagi formaga email manzilingizni kiriting.
            Biz email pochtangizga qanday qilib almashtirish haqida malumot qoldiramiz.
        </p>
        <form method="post">{% csrf_token %}
            {{form}}
            <button type="submit">Yuborish</button>
        </form>
    </div>
{% endblock content %}