{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="password_reset_done">
        <h2 class="title_page">Ma'lumot yuborildi</h2>
        <hr>
        <p>
            Biz sizning bu saytda ro'yxatdan o'tgan email manzilingizga parolni almashtirish haqida 
            qo'llanma yubordik. Siz qisqa muddat ichida javob berishingiz kerak. 
            Agar email manzilingizga xabar kelmagan bo'lsa, iltimos ro'yxatdan o'tgan email manzilingiz bilan 
            hozir kiritgan email manzilingizni solishtiring. Oxirida spam papkalaringizni ham tekshiring.
        </p>
    </div>
{% endblock content %}