{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Parolni tahrirlash{% endblock title %}

{% block content %}
    <div class="password_reset_form">
        <h2 class="title_page">Parolni tahrirlash</h2>
        <hr class="hozizontal_rule">
        <p>
            Agarda sizni parolingiz esingizdan chiqqan bo'lsa pastdagi formaga email manzilingizni kiriting.
            Biz email pochtangizga qanday qilib parolingizni almashtirish haqida malumot yuboramiz.
        </p>
        <form method="post">{% csrf_token %}
            {{form|crispy}}
            <button class="btn_btn btn btn-primary" type="submit">Yuborish</button>
        </form>
    </div>
{% endblock content %}