.container-fluid{
    padding: 10px 100px;
}

body{
  background-color:greenyellow;
}

.title_nav{
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
.title_nav:hover{
    color: white
}

.commit_templete{
    padding: 50px 200px;
}

.signup_btn,
.btn_login{
    margin-top: 50px;
}

.title_page{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 20px;
}

.btn_btn{
    margin: 20px;
}

/* Boshi: navbar */
.nav_extra{
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
}
/* Oxiri: navbar */





/* Boshi: Login page */

.login_page{
    padding: 50px 100px;
}

.login_page a{
    margin-top: 50px;
    margin-left: 20px;
}

/* Oxiri: Login page */


/*  Boshi: password change form and password_change_done and password_reset_complete*/
.password_change_form,
.password_change_done,
.password_reset_complete{
    padding: 20px 100px;
}

.password_change_form input{
    display: block;
    width: 100%;
    margin: 5px;
    outline: none;
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
}

.password_change_done a,
.password_reset_complete a{
    text-decoration: none;
}

.password_reset_complete p{
    text-align: center;
}

/* Oxiri:  password change form and password_change_done and password_reset_complete*/


/* boshi: password_reset_form va password_reset_done*/

.password_reset_form,
.password_reset_done{
    padding: 50px 100px;
}

.password_reset_form p,
.password_reset_done p{
    text-align: center;
}

/* Oxiri: password_reset_form va password_reset_done*/



/* Boshi: detailDiv */
.detailDiv{
    background-color: #fff;
    text-align: center;
    padding: 40px 50px;
    border-radius: 10px;
}

.detailDiv_image img{
    border: 1px solid #666;
    padding: 5px;
    border-radius: 10px;
}

.rule{
    color: black;
    margin: 20px;
}

.objectInfo h5{
    font-weight: 400;
    letter-spacing: 2px;
}

.textPart p{
    letter-spacing: 1px;
    font-size: 15px;
}

.detailLinks a{
    text-decoration: none;
    margin: 20px;
}
/* Oxiri: detailDiv */




/* Boshi: Article Update page */
.updateArticle{
    background-color: #fff;
    padding: 20px 50px;
}

.updateArticle input,
.updateArticle textarea {
    display: block;
    width: 100%;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
    margin: 10px 20px;

}

.update_btn{
    position: fixed;
    top: 100px;
    left: 20px;
}
/* Oxiri: Atricle Update Page */


/* Boshi: Article Delete page */
.article_delete{
    text-align: center;
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 10px;
}