{% extends 'base.html' %}

{% block title %} Maqolalar {% endblock title %}

{% block content %}
    <div class="maqolalar">
        <h2 class="title_page">Maqolalar Oynasi</h2>
        {% for object in object_list %}
            <div class="card text-center card_maqola">
                <div class="card-header">
                    Maqola
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ object.Sarlovha }}</h5>
                <p class="card-text">{{object.Qisqacha_Matn}}</p>
                <a href="{% url 'articleDetail' object.pk %}" class="btn btn-primary">Maqolani to'liq o'qish</a>
                </div>
                <div class="card-footer text-muted">
                    {{ object.Vaqt }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}