{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="article_delete">
        <form method="post">{% csrf_token %}
            <h2 class="title_page">" {{object.Sarlovha}} " Haqiqatdan ham Shu maqolani o'chirmoqchimisiz !</h2>
            <button type="submit" class="btn btn-danger">Yuborish</button>
        </form>
        <a href="{% url 'articleDetail' object.pk %}" class="update_btn btn btn-secondary" >Maqolaga qaytish</a>
    </div>
{% endblock content %}